.container {
  height: 60%;
  background-color: blue;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 50%;
}
.scrollStyle::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
}

.scrollStyle::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
  margin-right: 5px !important;
}
.whiteTxt {
  color: white !important;
  font-weight: 500;
}
.point:hover {
  cursor: pointer;
}
.stoke {
  stroke: #bee3f8;
  stroke-width: 30px;
  paint-order: stroke;
}
